{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

		{% include 'partial/body-tag.twig' %}
		
		{% include 'header.twig' %}

		{% block content %}

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				
					Sorry, no content
				
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% endblock %}

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
{% block scripts %}
{% endblock %}
<script src="{{ site.theme.link }}/static/js/site.js" type="text/javascript"></script>
</html>
