{% extends "base.twig" %}

{% block content %}

	{% include 'hero.twig' %}

	 <div class="pv4-ns">
	 	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	 		<section class="article-content">
	 			<div class="article-body mw7 lh-copy f5 f4-ns wola-gray center ph3">
	 				{{post.content}}
	 			</div>
	 		</section>

			<section class="mw8 center wola-gray">
				{% include 'photo-essays-sortable.twig' with {'posts': photo_essays} %}
			</section>

			{% include 'components/partners.twig' %}

	 	</article>
	 </div>

{% endblock %}

{% block scripts %}
<script src="{{ site.theme.link }}/static/js/isotope.pkgd.min.js"></script>
<script src="{{ site.theme.link }}/static/js/imagesloaded.pkgd.min.js"></script>
{% endblock %}