{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }} mw9 center ph3 near-white" id="post-{{ post.ID }}">
			<section class="article-content center">
				<div class="pv2 pv3-l">
				<h1 class="article-h1 f1 f-subheadline-l tc">{{ post.title }}</h1>
				<div class="flex justify-center items-center">
					<span class="white flex items-center ph3 f5"><i data-feather="user" class="pr1"></i>{{ post.get_field('subject_name') }}</span>
					<span class="white flex items-center ph3 f5"><i data-feather="map-pin" class="pr1"></i>{% for country in post.terms %}{{ country }}{% endfor %}</span>
				</div>
				</div>
				<div class="article-body f4 f3-l measure-wide lh-copy center">
					{{post.content}}
				</div>
			</section>
			
			<section id="essay lato">
			
			{% for item in post.get_field('photo_essay') %}
			    {% if item.acf_fc_layout == 'image_full_row' %}
			    	<div class="o-0"><img data-srcset="{{ TimberImage(item.image).src|resize(400) }} 400w, {{ TimberImage(item.image).src|resize(800) }} 800w, {{ TimberImage(item.image).src|resize(1200) }} 1200w, {{ TimberImage(item.image).src }} 1x" class="w-100 pv4 pv5-ns lozad"/></div>
			    {% elseif item.acf_fc_layout == 'image_quote_right_row' %}
			        {% include "components/photo-essay/quote-right.twig" %}
			    {% elseif item.acf_fc_layout == 'image_quote_left_row' %}
			         {% include "components/photo-essay/quote-left.twig" %}
			    {% elseif item.acf_fc_layout == 'text_row' %}
			        <p class="measure f4 f3-ns lh-copy center pv4">{{ item.text }}</p>
		        {% elseif item.acf_fc_layout == 'credit_row' %}
		            <div class="measure-narrow f3 lh-copy center pb5">{{ item.credits }}</div>
			    {% endif %}
			{% endfor %}	
			</section>

		</article>
	</div>

	<!-- /content-wrapper -->

{% endblock %}

{% block scripts %}
	<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
	<script src="{{ site.theme.link }}/static/js/lozad.min.js"></script>
	<script>
	  lozad('.lozad', {
	      load: function(el) {
	      	if (el.getAttribute('data-srcset')) {
	      		el.srcset = el.getAttribute('data-srcset');
	      	} else {
	      		el.src = el.getAttribute('data-src');
	      	}
			el.onload = function() {
				el.parentNode.classList.add('image-fade');
				el.parentNode.classList.remove('o-0')
	      	}
		  }
	  }).observe()
	</script>
{% endblock %}